/* CSS Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Variables */


:root {
    --slate: #434455;
    --iris: #4d5ae5;
    --white: #ffffff;
    --navy-blue: #2e2f42;
    --ocean: #404bbf;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --customercolor: #8e8f99;
    --footerclose: #fcfcfc;
}

/* INDEX PAGE */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.header {
    border-bottom: 1px solid var(--cornflower);
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.nav,
.contacts {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    margin-right: 76px;
}

/* Navigation Items */

.link {
    text-decoration: none;
    padding: 24px 0;
}

.header-logo {
    color: var(--navy-blue);
}

.list {
    list-style: none;
}

.nav>.list {
    display: flex;
    gap: 40px;
}

.nav {
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item>.item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

li>.link:hover,
li>.link:focus {
    color: var(--ocean);

}

/* PORTFOLIO HEADER HW5*/
.active-nav {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-nav::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    border-radius: 2px;
    opacity: 0;
    bottom: -1px;
}



/* Address */

.contacts {
    font-style: normal;
}

.contact-item>.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contacts>.list {
    display: flex;
    gap: 40px;
}

/* MAIN */

/* First Section */

.first-section {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.main-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto 48px;
}

.button {
    background-color: var(--iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .button-hero {
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
/* letter-spacing: 0.64px;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .button-hero:hover,
.button-hero:focus {
    background-color: var(--ocean);
    cursor: pointer; 
} */

.project-card-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-item:hover,
.project-card-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.svc:hover .overlay-text {
    transform: translateY(0%);
}

.project-card-img:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-img:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.plink {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.plink:hover .overlay-text {
    transform: translateY(0%);
}

.plink:focus .overlay-text {
    transform: translateY(0%);
}

/* .project-card-img {
    transform: translateY(0%);
} */


/* .project-card:hover .overlay-text {
    transform: translateY(0%);
} */

.project-card-item:focus .overlay-text {
    transform: translateY(0%);
}

.project-card-img {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.button:hover,
.button:focus {
    background-color: var(--ocean);
}



/* Second Section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}


.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}



.list-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}


.second-section {
    padding: 120px 0;
}

.info-list {
    list-style: none;
    display: flex;
    gap: 24px;
}



.info-card {
    width: calc((100% - 72px) / 4);
}



/* Third Section */

.header-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.third-section {
    padding-bottom: 120px;
}

.service.list {
    display: flex;
    gap: 24px;
}

.service-info {
    flex-basis: calc((100% - 48px) / 3);
}

/* Fourth Section */

.fourth-section {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team.list {
    display: flex;
    gap: 24px;
}

/* Reused third section header from main */

.team-member {
    background-color: var(--white);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.member-info {
    padding: 32px 0;
}

.list-header {
    margin-bottom: 8px;
}

/* .list-text {
    text-align: center;
} */

/* Reused item header from main  */

/* FOOTER */

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-logo {
    color: var(--cloud);
}

.footer-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer .link {
    display: inline-block;
    margin-bottom: 16px;
}

/* PORTFOLIO PAGE */

/* Main */

/* Buttons */

.services-section {
    padding: 96px 0 120px 0;
}

.btn-menu {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}



.btn-menu:hover,
.btn-menu:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}

/* Reused item header from main  */

/* Converting all images to block element */

img {
    display: block;
}

/* Services List */

.svc.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.svc-item {
    flex-basis: calc((100% - 48px) / 3);
}

.svc-info {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.h-shadow {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.first-section {
    background-color: var(--navy-blue);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* FOURTH SECTION */
.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.socmed {
    width: 40px;
    height: 40px;
}

.socmed-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed {
    list-style: none;
}

.socmed-link:hover {
    background-color: #404bbf;
}

.socmed-link:focus {
    background-color: #404bbf;
}

.socmed-svg {
    fill: #f4f4fd;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
}

.description {
    text-align: center;
}

/* section five */
.customers {
    padding: 120px 0;
}

.cust-header {
    font-size: 36px;
    line-height: 1.11;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.cust-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.cust-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.cust-list-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customercolor);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.cust-list-link:hover {
    border-color: #404bbf;
}

.cust-list-link:hover {
    color: #404bbf;
}

.cust-list-link:focus {
    border-color: #404bbf;
}

.cust-list-link:hover,
.cust-list-link:focus {
    color: #404bbf;
}


.cust-svg {
    fill: currentColor;
}

/*FOOTER WRAP */

.footer-wrap {
    margin-right: 120px;
}

.footer>.container {
    display: flex;
    align-items: baseline;
}


.footer-socmed {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-socmed-list {
    display: flex;
    gap: 16px;
    list-style: none;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.footer-socmed-items {
    width: 40px;
    height: 40px;
}

.footer-text {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-socmed-listitems-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-socmed-listitems-link:hover,
.footer-socmed-listitems-link:focus {
    background-color: #31d0aa;
}


/*FOOTER-SUBCRIBE HW6*/

.footer-subscribe {
    margin-left: 80px;
    margin-top: 100px;
    width: 453px;
}

.footer-subscribe-title {
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.subscribe-input-email {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    flex-shrink: 0;
    background: none;
    border: none;
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;

}


.subscribe-input-email::placeholder {
    color: var(--white);
}

.footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;

}

.footer-send-icon {
    margin-left: 16px;
}

.backdrop {
    padding: 72px 24px 24px 24px;
}


.modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.input-container {
    margin: 8px;
}

.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-area {
    position: relative;
}

.input-data {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data:focus {
    border-color: var(--iris);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data:focus+.input-icon {
    fill: #4D5AE5;
}

.input-comment {
    margin-bottom: 16px;
    margin-left: 8px;
    width: 344px;
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
    margin-left: 8px;
}

.visually-hidden {
    display: none;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-on {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox:checked+.ml-checkbox>.checkbox-on {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.check-icon {
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
}

.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 25%;
}

.btn-menu:hover,
.btn-menu:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link:hover,
.link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link {
    display: block;
}

/* HW5 HEADER */

.active {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #404bbf;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   */
}

.nav .link {
    color: #404bbf;
}

.contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*modal window*/
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close,
.modal-close {
    fill: #ffffff;
}

/* MOBILE */

@media (max-width: 767px) {
    .container {
        max-width: 428px;
        padding: 0;
        margin: 0 auto;
    }
    }

/*MOBILE MEDIA QUERY FOR HEADER*/
  .nav .list,
  .address {
      display: none;
  }

  .header {
      padding: 0;
      margin: 24px 0 22px 16px;
  }

   .header {
       display: none;
   }

   .mobile-nav-container {
       display: flex;
       width: 428px;
       justify-content: space-between;
       padding: 24px;
       margin: 0 auto;
   }

  .menu-button {
      opacity: 1;
  }

  .mobile-nav-container .logo {
      text-align: left;
  }

  .mobile-menu {
      display: block;
      position: fixed;
      top: 0;
      z-index: 1;
      transform: translateX(100%);
      width: 100vw;
      height: 100vh;
      background-color: var(--white);
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
          0px 1px 1px 0px rgba(46, 47, 66, 0.16),
          0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

 .mobile-menu-container {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 80px 35px 40px 40px;
 }

  .mobile-menu.is-open {
      transform: translateX(0%);
  }

  .mobile-menu-close {
      position: absolute;
  }

  